.st-grid{
	text-align: center;
	vertical-align: center;
	position: relative;
}

.st-row{
	clear: both;
	width: 100%;
}

.st-cell{
	height: 100%;
	float:left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.submittable .st-cell:hover{
  cursor: pointer;
  cursor: hand;
}

.submittable .st-cell.st-selected,.submittable .st-cell.st-selected:hover{
  cursor: default;
}

.st-missing {
	background-color: red;
}

.st-cell.saved {
	background-color: red;
}

.st-iframe {
	display: none;
}

.st-tooltip,.st-form {
	z-index: 990;
	position: absolute;
	background-color: white;
	border: 2px solid #ccc;
	color: #333;
	text-align: left;
	padding: 10px;
	display: none;
}

.st-form.loading #st-form-submit{
	display: none;
}

#st-form-submit-loading{
	display: none;
}

.st-form.loading #st-form-submit-loading{
	display: block;
}

.st-form.loading #st-form-submit-loading:hover{
	cursor: default;
}

.st-form.loading #st-form-submit-loading img{
	position: relative;
	top: 3px;
}

.st-tooltip {
	pointer-events: none;
}

.st-tooltip.open {
	display: block;
}

.open .st-tooltip, .open .st-tooltip.open {
	display: none;
}

.open .st-form {
	display: block;
}

.st-form {
	z-index: 999;
	max-width: 300px;
}

.st-form .st-close {
	float: right;
	cursor: pointer;
}

.st-close{
	opacity: .5;
}

.st-close:hover{
	cursor: pointer;
	cursor: hand;
	opacity: 1;
}

.st-form input[type='text'],input[type='number'],select,textarea {
	margin: 0;
	border: 1px solid #333;
	background-color: #fff;
	color: #333;
}

.st-form option {
	background-color: #fff;
}

.st-form label {
	font-weight: bold;
	display: block;
	margin-bottom: 4px;
}

.st-form form > div {
	margin: 10px 0px;
}

.st-form form div div span {
	margin: 0px 18px 0px 6px;
}

.st-grid-label{
	background-color: rgba(0,0,0,.25);
	color: #fff;
	position: absolute;
	padding: 2px 10px 2px 10px;
}

.st-grid-label[data-location="left"]{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.st-grid-label[data-location="right"]{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.st-comment-container{
	position: relative;
	width: 100%;
	border: 1px solid #ccc;
	background-color: #fff;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	overflow: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.st-mini-map{
	position: relative;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	float: left;
}

.st-mm-quadrant{
	width:50%;
	height:50%;
	float: left;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.st-mm-quadrant:nth-child(even){
	border-right: 1px solid #ccc;
}

.st-mm-quadrant:nth-child(3),.st-mm-quadrant:nth-child(4){
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.st-name{
	font-size: 18px;
	margin-bottom: 5px;
}

.st-comment{
	font-size: 12px;
	font-style: italic;
}

.st-paragraph{
	margin-top: 10px;
	font-size: 12px;
}

.st-mm-dot{
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #f0c;
	margin-right: 10px;
}

/* COMMENT FILTER STYLES, REMOVE IF YOU WANT TO CUSTOMIZE */
#st-comment-filters{
	list-style: none;
	overflow: auto;
	margin: 0 0 20px 0;
	padding: 0;
	display: none;
}

#st-comment-filters li{
	float: left;
	padding: 5px;
	margin-right: 18px;
}

#st-comment-filters li:not(.st-comment-filter){
	font-size: 16px;
}

#st-comment-filters .st-comment-filter{
	border: 1px solid #686868;
	background-color: #AFAFAF;
	color: #FFF;
	border-radius: 3px;
}

#st-comment-filters .st-comment-filter.st-hide{
	background-color: #fff;
	color: #000;
	opacity: .35;
}

#st-comment-filters .st-comment-filter:hover{
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.st-row .clear {
	clear: both;
}