.st-grid{
	margin-bottom: 15px;
	text-align: center;
	vertical-align: center;
}
.st-row{
	width: 100%;
}
.st-cell{
	height: 100%;
	float:left;
	margin: 0 1px 1px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
.st-cell.st-selected{
	border: 1px solid #f0a;
}