.st-grid{
	margin-bottom: 15px;
	text-align: center;
	vertical-align: center;
	background-color: #A8A8A8;
}
.st-row{
	width: 100%;
}
.st-cell{
	height: 100%;
	float:left;
	margin: 0 1px 1px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
.submittable .st-cell:hover{
	opacity: .6;
	cursor: pointer;
	cursor: hand;
}
.submittable .st-cell.st-selected,.submittable .st-cell.st-selected:hover{
	border: 1px solid #f0a;
	opacity: 1;
	cursor: default;
}
.st-missing {
	background-color: red;
}

.st-cell.saved {
	background-color: red;
}

.st-iframe {
	display: none;
}

.st-tooltip,.st-form {
	z-index: 990;
	position: absolute;
	background-color: white;
	border: 2px solid #ccc;
	color: #333;
	text-align: left;
	padding: 10px;
	display: none;
}

.st-tooltip {
	pointer-events: none;
}

.st-tooltip.open {
	display: block;
}

.open .st-tooltip, .open .st-tooltip.open {
	display: none;
}

.open .st-form {
	display: block;
}

.st-form {
	z-index: 999;
	max-width: 300px;
}

.st-form .st-close {
	float: right;
	cursor: pointer;
}

.st-form input[type='text'],input[type='number'],select,textarea {
	margin: 0;
	border: 1px solid #333;
	background-color: #fff;
	color: #333;
}

.st-form option {
	background-color: #fff;
}

.st-form label {
	font-weight: bold;
	display: block;
	margin-bottom: 4px;
}

.st-form form > div {
	margin: 10px 0px;
}

.st-form form div div span {
	margin: 0px 18px 0px 6px;
}

.st-comment-container{
	position: relative;
	width: 100%;
	border: 1px solid #ccc;
	background-color: #fff;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	overflow: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.st-mini-map{
	position: relative;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	float: left;
}
.st-mm-quadrant{
	width:50%;
	height:50%;
	float: left;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.st-mm-quadrant:nth-child(even){
	border-right: 1px solid #ccc;
}
.st-mm-quadrant:nth-child(3),.st-mm-quadrant:nth-child(4){
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.st-name{
	font-size: 18px;
	margin-bottom: 5px;
}
.st-comment{
	font-size: 12px;
}
.st-mm-dot{
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #f0c;
	margin-right: 10px;
}

/* COMMENT FILTER STYLES, REMOVE IF YOU WANT TO CUSTOMIZE */
#st-comment-filters{
	list-style: none;
	overflow: auto;
	margin: 0 0 20px 0;
	padding: 0;
}
#st-comment-filters li{
	float: left;
	padding: 5px;
	margin-right: 5px;
}
#st-comment-filters .st-comment-filter{
	background-color: #f0c;
}
#st-comment-filters .st-comment-filter.st-hide{
	background-color: #ccc;
}
#st-comment-filters .st-comment-filter:hover{
	cursor: pointer;
	cursor: hand;
	background-color: #fc0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}