body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-size: 10px;
}

#st-wrapper{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Styling for the grid container and comments */
#grid, #comments-outer {
  width: 50%;
  float: left;
}

#comments-outer {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
}

/* The standard border color separating cells */
.st-cell{
  border: 1px solid #fff;
}

/*

Axes - specify a different color here to show axes
(Only applies if the grid size is an even number)

*/
.st-cell.st-axis-bottom {
  border-bottom-color: #333;
}

.st-cell.st-axis-left {
  border-left-color: #333;
}

.st-cell.st-axis-right {
  border-right-color: #333;
}

.st-cell.st-axis-top {
  border-top-color: #333;
}

/* Styling for hovering over a cell */
.st-grid.submittable .st-cell:hover{
  opacity: .6;
}

/* Styling for a selected cell */
.st-grid.submittable .st-cell.st-selected,.submittable .st-cell.st-selected:hover{
  border: 3px solid #f0a;
  opacity: 1;
}

/* Dot color for minimaps */
.st-mm-dot {
  background-color: #2646ea;
}

/*

Styling for the cell they've saved their response to
This version inserts a star in the middle

*/
.st-cell.saved {
  background-image: url(../imgs/star.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/star.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/star.png', sizingMethod='scale')";
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .st-cell.saved {
      font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  #grid,#comments-outer {
    float: none;
    width: 100%;
    padding: 0;
  }
  #grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
  }

  .st-cell.saved {
    font-size: 32px;
  }
}

@media screen and (max-width: 400px) {
  .st-cell.saved {
    font-size: 12px;
  }
}
