body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-size: 10px;
}

#st-wrapper{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for the grid container */
#grid{
  width: 100%;
  margin: 20px 0px;
}

/* The standard border color separating cells */
.st-cell{
  border: 1px solid #fff;
}

/*

Axes - specify a different color here to show axes
(Only applies if the grid size is an even number)

*/
.st-cell.st-axis-bottom {
  border-bottom-color: #333;
}

.st-cell.st-axis-left {
  border-left-color: #333;
}

.st-cell.st-axis-right {
  border-right-color: #333;
}

.st-cell.st-axis-top {
  border-top-color: #333;
}

/* Styling for hovering over a cell */
.st-grid.submittable .st-cell:hover{
  opacity: .6;
}

/* Styling for a selected cell */
.st-grid.submittable .st-cell.st-selected,.submittable .st-cell.st-selected:hover{
  border: 3px solid #f0a;
  opacity: 1;
}

/*

Styling for the cell they've saved their response to
This version inserts a star in the middle

*/
.st-cell.saved {
  vertical-align: middle;
  font-weight: bold;
  overflow: hidden;
  font-size: 36px;
  color: #333;
  display: table;
}

.st-cell.saved::before {
  content: "\2605";
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .st-cell.saved {
      font-size: 28px;
  }
}

@media screen and (max-width: 420px) {
  .st-cell.saved {
      font-size: 20px;
  }
}