<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>FourScore</title>

	<link rel="stylesheet" type="text/css" href="css/fs-base.css">
	<link rel="stylesheet" type="text/css" href="css/fs-theme.css">

</head>
<body>

	<div id="fs-wrapper">
		<div id="grid"></div>
		<div id="form"><form></form></div>
		<!-- To make filter buttons, add a ul with an id of `st-comment-filters` anywhere on the page with the following data attributes -->
		<div id="comments-outer">
			<ul id="fs-comment-filters">
				<li>Filter comments</li>
				<li class="fs-comment-filter" data-quadrant="topleft"></li>
				<li class="fs-comment-filter" data-quadrant="topright"></li>
				<li class="fs-comment-filter" data-quadrant="bottomright"></li>
				<li class="fs-comment-filter" data-quadrant="bottomleft"></li>
			</ul>
			<div id="comments">
			</div>
		</div>
	</div>

	<script type="text/template" id="fs-comment-template" data-template-type="underscore">
		<div class="fs-comment-container">
	    <div class="fs-mini-map"></div>
	    <div class="fs-name"><%= name %></div>
	    <div class="fs-comment"><%= comment %></div>
	  </div>
  </script>

	<script src="js/thirdparty/jquery.1.10.2.min.js"></script>
	<script src="js/thirdparty/underscore-min.js"></script>
	<script src="js/thirdparty/tabletop.js"></script>
	<script src="js/thirdparty/colorbrewer.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
